/* TAGS */
/* =============================== */

header {
  height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

span {
  margin-left: 10px;
}

body {
  text-align: center;
  font-size: large;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, "sans-serif";
  text-emphasis-color: black;
  background-image: linear-gradient(90deg, rgb(30, 144, 200), rgb(114, 133, 143));
}

form {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 15px;
}

input[type=text],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: .5px solid black;
  border-radius: 16px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  background-color: rgb(30, 144, 200);
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(30, 144, 255);
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* IDS */
/* =============================== */

/* CLASSES */
/* =============================== */

.input-wrapper {
  width: 90%;
  margin: auto;
  padding-top: 5%;
}

.tickerData {
  margin-top: 10px;
  font-size: 22px;
}

.stockEnd {
  margin-right: 50px;
}

.form-input {
  color: white;
  font-size: 21px !important;
}

.outputField {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.newSymbol {
  margin-left: 3.5px;
}

.newAmount {
  margin: 0px 3.5px 0px 0px;
  color: rgb(43, 241, 3);
}

.from {
  width: 50%;
  float: left;
}

.greeting {
  margin: 8px;
  padding: 16px;
  color: white;
}

.dropdown {
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  color: white;
  font-size: 21px;
  margin-left: 0;
  padding-left: 0;
}

.dropdown:focus {
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  color: white;
  font-size: 21px;
  margin-left: 0;
  padding-left: 0;
}

.fireArea {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-left: 2px;
  margin-right: 16px;
}