header{
    border: 5px solid black; 
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
  
  }

h2 {
  padding-top: 4%;
}
 
 span{
   margin-left: 10px;
 }
 
 .form {
   margin-top: 5%;
   opacity: 0.9;
 }
 
 
 body{ 
        text-align: center; 
        font-size:large;
        font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, "sans-serif"; 
        text-emphasis-color: black;
        image-rendering:auto;
        background-size: cover;
        background-repeat: no-repeat;
 }


form{
    background-color: rgb(167, 148, 148);
    
        border-radius: 5px;
        padding: 35px;
      }





input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: .5px solid black;
  border-radius: 16px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: red;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: limegreen;
}

.outputField {
  display: flex;
  justify-content: center;
  align-content: center;

  background-color: gray;
  color: white;

  border-radius: 5px;
  padding: 15px;
  width: 95%;
  margin-left: 13.5px;

}

.newSymbol {
  margin-left: 3.5px;
}

.newAmount {
  margin: 0px 3.5px 0px 0px;
}


